<style>
  #resend{ 
    display: none;
  }
</style>
  <body>
      <!-- Content -->
  
      <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
          <div class="authentication-inner">
            <!-- Register -->
            <div class="card text-center w-25 m-auto">
              <div class="card-body">
             
              
                <h4 class="mb-2">Welcome to E SHOPPER</h4>
                
                <form id="formAuthentication" name="myform"class="mb-3" action="/otpVerify"  method="POST">
                  <div class="mb-3">
                    <label for="text" class="form-label">Verify Your Otp </label>
                    <input
                      type="text"
                      class="form-control"
                      
                      name="otp"
                      placeholder="Enter your otp "
                      autofocus
                      
                    />
                  </div>
                  <%if(otperr.length){%>
                    <p class="text-danger"><%=otperr%></p>
                  <%}%>
                 
                  <div class="mb-3">
                    <button class="btn btn-primary d-grid w-100" type="submit">Submit</button>
                   
                  </div>
                  <div class="row text-primary font-weight-bold justify-content-center" id="countdown"></div>
                  <div class="mb-3">
                     <a href="/resendotp" id="resend" class="btn btn-primary " type="button">resend</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <script>


        var timeleft =30;
        var downloadTimer = setInterval(function(){
          if(timeleft <= 0){
            clearInterval(downloadTimer);
            document.getElementById("resend").style.display = "block";
            document.getElementById("countdown").innerHTML =" resend your Otp "
          } else {
            document.getElementById("countdown").innerHTML = "resend otp in "+timeleft + " seconds ";
          }
          timeleft -= 1;
        }, 1000);
          </script>
      </body>
  
